html{
    background: rgb(147,146,166);
    background: linear-gradient(to bottom, rgba(147,146,166,1) 0%, rgba(181,181,207,1) 35%,rgba(235,242,244,1) 100%);
    height: 100%;
    color: #666490;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border: 2px solid #666490;
    border-radius: 40px;
    padding: 20px; 
    width: 250px;
    height: 230px;  
}
.trenutni fieldset{
    border-radius: 20px;
    height: 270px;
    margin: 0 auto;   
}
table,td,tr{
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: bottom;
}
table{
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
}
.prethodni{
    float: right;

}
.sljedeci{
    float: left;
}
.akt{
    width: 100%;
}
h1{
    font-size: larger;
    font-weight: normal;
}
h2{
    font-size: small;
    font-weight: normal;
}
@media only screen and (max-width: 600px) {
    table, td,tr { 
        display: block; 
    }   
    table{
        margin-top: 4%;
    }
    td { 
        display: block;
        display:inline-block; 
    }
    .prethodni{
        display: none;
    }
    .sljedeci fieldset{
        margin-left: 13px; 
       
    }
    .sljedeci{
        float: none;  
    }
}
fieldset>legend {
    display: table;
    float: none;
    margin: 0 auto;
  }
@media screen and (-moz-images-in-menus: 0) {
    fieldset {
      position: relative;
    }
    fieldset>legend {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }