#meni{
    width: auto;
    border-radius: 10px;
    border: 1px solid #312a42;
}
#meni ul,li,a{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: sans-serif;
}
#meni ul{
    zoom: 1;
    background: #9a93b9;
    padding: 5px 10px;
    border-radius: 9px;
}
#meni ul:before {
    content: '';
    display: block;
  }
#meni ul:after {
    content: '';
    display: table;
    clear: both;
}
#meni li {
    float: left;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
}
#meni li a {
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid transparent;
    font-size: 16px;
}
#meni li.aktivni{
    border-radius: 10px;
    display: block;
    background: #adabb6;
    border: 1px solid #312a42;
}
#meni li:hover a{
    background: #a8a5b4;
}


