table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
}
td, tr, th{
    width:200px;
    height: 20px;
}
td:nth-child(1){  
    text-align: center
}
input,select{
    width:200px;
    box-sizing:border-box;
    border: 1px solid black;

}
@media only screen and (max-width: 600px) {
    table, tr, th { 
        text-align: center;    
    }   
    td{
        display: table-row;
    }
    td, tr, th{
        width:150px;
        height: 20px;
    }
    td:nth-child(2n){  
        height:40px;
    }
}
