table{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
}
td, tr, th{
    border: 1px solid black;
    width:150px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
tr:hover{
    border: 2px solid black;
}