table, table .rtabela, th, td {
    border-collapse: collapse;
  }
th{
    text-align: center;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color:slategray;
    font-size: small;
}
td + td{
    vertical-align:top;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 230, 230);
}

td:nth-child(1){  
    text-align: right;
    font-size: large;
}
th:nth-child(1){
    width: 100px;
}
.rtabela td + td{
    border-top:    1px solid ;
    border-bottom: 1px solid;
    height: 50px;
    width: 15px;
 }


td:nth-child(2n):not(.poslijetri):not(:last-child){
     border-left: 1px solid;
     border-right: 1px dashed;
 }
td:last-child{
    border-right: 1px solid black;
}

td[colspan="4"], td[colspan="6"]{
    border-right: 1px solid;
    border-left: 1px solid;
}
td[colspan="4"], td[colspan="6"]:not(.prazan){
    background-color: #dbe6ea;
}
.rtabela td + td[colspan] {
    background-color: #dbe6ea;
 }
.trilijevo{
    border-left: 1px solid;
    border-right: 1px dashed;
    background-color:#dbe6ea;
}
.tridesno{
    border-right: 1px dashed;
    background-color: #dbe6ea;
}
.poslijetri{
    border-right: 1px solid;
    border-left: 1px dashed;
}
td:first-child, td:last-child{
    border-right: 1px solid;
}
h1{
    font-size: medium;
    font-weight: normal;
}
h2{
    font-size: small;
    font-weight: normal;
}

@media only screen and (max-width: 600px) {
    table, tr, th { 
        display: block;   
    }   
    table{
        margin-left: 40%;
        margin-top: 10%;
    }
    th, .prazan{
        display: none;
    }
    
    td[colspan]:not(.prazan){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    h1,h2{
        flex:1 0 100%;
        height: 1px;
    }
    td:not([colspan]){
        display: none;
    }
    .poslijetri, .trilijevo, .tridesno, td:nth-child(2n):not(.poslijetri), td{
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .rtabela td + td{
        width: 100%;
     }
     .petak{
        border-bottom: 1px solid black;
     }
}


